.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style: none;
}

.menu-list>li{
padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
}

/* .landing-search-box{
  right: 20px;
  position: absolute;
  
} */

.search-box{
  border-bottom: 1px solid black;
  /* position: absolute; */
  padding: 5px;
  right: 20px;
  position: absolute;
}
.search-box input{
  border:none;
  margin-left:5px;
}
.search-box input:focus {
  outline:none
}

.card{
  border:none !important;
  margin-bottom: 10px;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.01);
}

.login-container{
  width: 600px !important;
}

.product-img{
  display: flex;
  justify-content: flex-end;
}